
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif; 
  background-size: cover; 
  background-color: #c81e1e;
  background-repeat: no-repeat;
  height: 100vh;                
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  object-position: center;
}


.hero h1 {
  font-size: 7rem;
  color: rgb(85, 150, 99);
  position: absolute;
  top: 600px ; 
  left: 250px; 
}

.hero h2 {
  font-size: 1rem ;
  color: aliceblue;
  position: absolute;
  top: 10px;
  left: 30px ;

  }



